.deleteIt {
    margin-top: 10px;
    margin-bottom: 20px;
}
.detailsCart{
    border: 1px solid #ccc;
}
.total h1{
    margin-right: 50px;
    color: crimson;
}
.noImages2 {
    width: 10% !important;
    margin-left: 13px;
    margin-top: 15px;
}
