.noImages {
    width: 34% !important;
    margin-left: 13px;
    margin-top: 6px;
}

.itemName {
    margin-bottom: 50px;
    margin-right: 150px;
}

.CartFooterButton {
    width: 65%;
    margin-top: 37px;
    justify-content: center;
}
.itemImages {
    width: 31% !important;
    margin-left: 13px;
    margin-top: 6px;
    justify-content: center;
    align-items: center;
}
