.noImages {
    width: 30% !important;
    margin-left: 13px;
    margin-top: 6px;
    /*margin-right: -107px;*/
}

.itemName {
    margin-bottom: 50px;
    margin-right: 150px;
}

.CartFooterButton {
    width: 50%;
    margin-top: 25px;
    justify-content: center;
}
.itemImages {
    width: 25% !important;
    margin-left: 13px;
    margin-top: 6px;
    justify-content: center;
    align-items: center;
}
