header {
    min-height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

header .logo a {
    text-decoration: none;
    text-transform: uppercase;
    color: #94548f;
}

header nav {
    display: flex;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #94548f;
    padding: 0 15px;
    font-size: 20px;
}

nav ul li a:hover {
    color: deepskyblue;
}

nav .nav-cart {
    cursor: pointer;
    position: relative;
}

nav .nav-cart span {
    position: absolute;
    top: -12px;
    right: -7px;
    background: crimson;
    font-size: 10px;
    color: white;
    padding: 3px 5px;
    border-radius: 50%;
    z-index: -1;
}